#clock {
  margin: 20px auto;
  padding: 10px;
  width: fit-content;
  text-align: center;
  line-height: 1.4;
  color: #fff;
  font-size: 34px;
  font-family: Calibri, sans-serif;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.6);
}
.canvasContainer
{
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: black;
        background-position: auto;
}


.grid-background {
  width: 100vw;
  height: 100vh;
  background-image:
      repeating-linear-gradient(to right, rgba(50, 43, 64) 0px, rgba(50, 43, 64) 2px, transparent 2px, transparent 150px),
    repeating-linear-gradient(to bottom, rgba(50, 43, 64) 0px, rgba(50, 43, 64) 2px, transparent 2px, transparent 150px);

  box-shadow:
  0 0 40px rgba(72, 214, 233, 0.8),
  0 0 80px rgba(72, 214, 233, 0.6),
  0 0 120px rgba(72, 214, 233, 0.4),
  inset 0 0 20px rgba(72, 214, 233, 0.8);
  background-size: 150px 150px;
      position: fixed;
  top: 0;
  left: 0;
 z-index: -2;
  box-shadow: inset 0 0 10px rgb(72, 214, 233);
  animation: moveGridBackground 20s linear infinite; 
}

.grid-dot {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  
  background-image: radial-gradient(circle, rgba(118, 211, 216, 0.95) 4px, transparent 4px);
  background-size: 75px 75px;
  animation: moveGridDots 5s linear infinite, glowPulse 3s ease-in-out infinite;
  box-shadow: 
    0 0 40px rgba(72, 214, 233, 0.8),
    0 0 80px rgba(72, 214, 233, 0.6),
    0 0 160px rgba(72, 214, 233, 0.4),
    0 0 300px rgba(72, 214, 233, 0.2),
    inset 0 0 30px rgba(72, 214, 233, 0.8);
      z-index: -3;
}

@keyframes moveGridBackground {
  0% { background-position: 0 0; }
  100% { background-position: 150px 150px; }
}

@keyframes moveGridDots {
  0% { background-position: 0 0; }
  100% { background-position: 75px 75px; }
  0%, 50% {
    box-shadow: 
      0 0 40px rgba(72, 214, 233, 0.8),
      0 0 80px rgba(72, 214, 233, 0.6),
      0 0 160px rgba(72, 214, 233, 0.4),
      0 0 300px rgba(72, 214, 233, 0.2),
      inset 0 0 30px rgba(72, 214, 233, 0.8);
  }
}

@keyframes glowPulse {
  0%, 10% {
    box-shadow: 
      0 0 40px rgba(72, 214, 233, 0.8),
      0 0 80px rgba(72, 214, 233, 0.6),
      0 0 160px rgba(72, 214, 233, 0.4),
      0 0 300px rgba(72, 214, 233, 0.2),
      inset 0 0 30px rgba(72, 214, 233, 0.8);
  }
}

 /*



.grid-dot {
   position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(118, 211, 216, 0.7);
  transition: transform 0.2s ease;
   z-index: -1; 
}

.dot:hover {
  transform: translate(5px, 5px);
}
.contextCanvas
{   position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

/* .background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url("../img/background.png") ;
  z-index: -1;
} */

/* Neon light bar */
.neon-lightsec {
  width: 10%;
  height: 20px;
  background: transparent;
  border-radius: 15px;
  position: absolute;
  top: 40%;
  left: 0;
  box-shadow: 
    0 0 20px #08f,
    0 0 40px #08f,
    0 0 80px #08f,
    inset 0 0 10px #08f;
  animation: run 1s linear infinite;
}

.neon-lightmin {
  width: 10%;
  height: 20px;
  background: transparent;
  border-radius: 15px;
  position: absolute;
  top: 45%;
  left: 0;
  box-shadow: 
    0 0 20px rgb(188, 55, 206),
    0 0 40px rgb(188, 55, 206),
    0 0 80px rgb(188, 55, 206),
    inset 0 0 10px rgb(188, 55, 206);
  animation: run 60s linear infinite;
}

.neon-lighthour {
  width: 10%;
  height: 20px;
  background: transparent;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 0;
  box-shadow: 
    0 0 20px rgb(55, 206, 153),
    0 0 40px rgb(55, 206, 153),
    0 0 80px rgb(55, 206, 153),
    inset 0 0 10px rgb(55, 206, 153);
  animation: run 3600s linear infinite;
}

.neon-lightweek {
  width: 10%;
  height: 20px;
  background: transparent;
  border-radius: 15px;
  position: absolute;
  top: 55%;
  left: 0;
  box-shadow: 
    0 0 20px rgb(72, 126, 233),
    0 0 40px  rgb(72, 126, 233),
    0 0 80px  rgb(72, 126, 233),
    inset 0 0 10px  rgb(72, 126, 233);
  animation: run 604800s linear infinite;
}
.neon-lightmonth {
  width: 10%;
  height: 20px;
  background: transparent;
  border-radius: 15px;
  position: absolute;
  top: 60%;
  left: 0;
  box-shadow: 
    0 0 20px rgb(72, 214, 233),
    0 0 40px  rgb(72, 214, 233),
    0 0 80px  rgb(72, 214, 233),
    inset 0 0 10px  rgb(72, 214, 233);
  animation: run 2,628,288s linear infinite;
}














.neon-lightoutax {
  
  width: 10%;
  height: 20px;
  background: transparent;
  border-radius: 15px;
  position: absolute;
  top: 0%;
  left: 0;
  box-shadow: 
    0 0 20px rgb(93, 234, 97),
    0 0 40px  rgb(93, 234, 97),
    0 0 80px  rgb(93, 234, 97),
    inset 0 0 10px  rgb(93, 234, 97);
  animation: run 8s linear infinite;
}

.neon-lightholdax {
  
  width: 10%;
  height: 20px;
  background: transparent;
  border-radius: 15px;
  position: absolute;
  top: 5%;
  left: 0;
  box-shadow: 
    0 0 20px rgb(88, 33, 83),
    0 0 40px  rgb(88, 33, 83),
    0 0 80px  rgb(88, 33, 83),
    inset 0 0 10px  rgb(88, 33, 83);
  animation: run 7s linear infinite;
}


.neon-lightbreathinax {
  
  width: 10%;
  height: 20px;
  background: transparent;
  border-radius: 15px;
  position: absolute;
  top: 10%;
  left: 0;
  box-shadow: 
    0 0 20px rgb(56, 85, 105),
    0 0 40px  rgb(56, 85, 105),
    0 0 80px  rgb(56, 85, 105),
    inset 0 0 10px  rgb(56, 85, 105);
  animation: run 4s linear infinite;
}



.neon-lightblink {
  
  width: 10%;
  height: 20px;
  background: transparent;
  border-radius: 15px;
  position: absolute;
  top: 15%;
  left: 0;
  box-shadow: 
    0 0 20px rgb(181, 47, 98),
    0 0 40px  rgb(181, 47, 98),
    0 0 80px  rgb(181, 47, 98),
    inset 0 0 10px  rgb(181, 47, 98);
  animation: run 20s linear infinite;
}


.neon-lightheart {
  
  width: 10%;
  height: 20px;
  background: transparent;
  border-radius: 15px;
  position: absolute;
  top: 35%;
  left: 0;
  box-shadow: 
    0 0 20px rgb(206, 113, 55),
    0 0 40px  rgb(206, 113, 55),
    0 0 80px  rgb(206, 113, 55),
    inset 0 0 10px  rgb(206, 113, 55);
  animation: run 0.8s linear infinite;
}
.neon-lightbreathpermin {
  width: 10%;
  height: 20px;
  background: transparent;
  border-radius: 15px;
  position: absolute;
  top: 30%;
  left: 0;
  box-shadow: 
    0 0 20px rgb(246, 136, 197),
    0 0 40px  rgb(246, 136, 197),
    0 0 80px  rgb(246, 136, 197),
    inset 0 0 10px  rgb(246, 136, 197);
  animation: run 3.3s linear infinite;
}

.neon-lightbreath-in-out {
  width: 10%;
  height: 20px;
  background: transparent;
  border-radius: 15px;
  position: absolute;
  top: 25%;
  left: 0;
  box-shadow: 
    0 0 20px rgb(246, 224, 136),
    0 0 40px  rgb(246, 224, 136),
    0 0 80px  rgb(246, 224, 136),
    inset 0 0 10px  rgb(246, 224, 136);
  animation: run 2s linear infinite;
}
.neon-lightheartchild {
  
  width: 10%;
  height: 20px;
  background: transparent;
  border-radius: 15px;
  position: absolute;
  top: 20%;
  left: 0;
  box-shadow: 
    0 0 20px rgb(119, 250, 126),
    0 0 40px  rgb(119, 250, 126),
    0 0 80px  rgb(119, 250, 126),
    inset 0 0 10px  rgb(119, 250, 126);
  animation: run 0.37s linear infinite;
}

















.neon-lightcrow {
  width: 10%;
  height: 20px;
  background: transparent;
  border-radius: 15px;
  position: absolute;
  top: 65%;
  left: 0;
  box-shadow: 
    0 0 20px rgb(97, 70, 153),
    0 0 40px  rgb(97, 70, 153),
    0 0 80px  rgb(97, 70, 153),
    inset 0 0 10px  rgb(97, 70, 153);
  animation: run 0.3s linear infinite;
}

.neon-lighthummingbird{
  width: 10%;
  height: 20px;
  background: transparent;
  border-radius: 15px;
  position: absolute;
  top: 70%;
  left: 0;
  box-shadow: 
    0 0 20px rgb(125, 211, 86),
    0 0 40px rgb(125, 211, 86),
    0 0 80px  rgb(125, 211, 86),
    inset 0 0 10px  rgb(125, 211, 86);
  animation: run 0.15s linear infinite;
}

.neon-lightvulture{
  width: 10%;
  height: 20px;
  background: transparent;
  border-radius: 15px;
  position: absolute;
  top: 75%;
  left: 0;
  box-shadow: 
    0 0 20px rgb(233, 73, 73),
    0 0 40px rgb(233, 73, 73),
    0 0 80px  rgb(233, 73, 73),
    inset 0 0 10px  rgb(233, 73, 73);
  animation: run 0.8s linear infinite;
}

.neon-lightdove{
  width: 10%;
  height: 20px;
  background: transparent;
  border-radius: 15px;
  position: absolute;
  top: 80%;
  left: 0;
  box-shadow: 
    0 0 20px rgb(232, 233, 169),
    0 0 40px rgb(232, 233, 169),
    0 0 80px  rgb(232, 233, 169),
    inset 0 0 10px  rgb(232, 233, 169);
  animation: run 0.8s linear infinite;
}

.neon-lightkiwi{
  width: 10%;
  height: 20px;
  background: transparent;
  border-radius: 15px;
  position: absolute;
  top: 80%;
  left: 0;
  box-shadow: 
    0 0 20px rgb(90, 236, 139),
    0 0 40px rgb(90, 236, 139),
    0 0 80px rgb(90, 236, 139),
    inset 0 0 10px  rgb(90, 236, 139);
  animation: run 0s linear infinite;
}

.neon-lightrobin{
  width: 10%;
  height: 20px;
  background: transparent;
  border-radius: 15px;
  position: absolute;
  top: 85%;
  left: 0;
  box-shadow: 
    0 0 20px rgb(236, 90, 151),
    0 0 40px rgb(236, 90, 151),
    0 0 80px rgb(236, 90, 151),
    inset 0 0 10px  rgb(236, 90, 151);
  animation: run 0.43s linear infinite;
}

.neon-lightpenguin{
  width: 10%;
  height: 20px;
  background: transparent;
  border-radius: 15px;
  position: absolute;
  top: 90%;
  left: 0;
  box-shadow: 
    0 0 20px rgb(30, 27, 48),
    0 0 40px rgb(30, 27, 48),
    0 0 80px rgb(30, 27, 48),
    inset 0 0 10px  rgb(30, 27, 48);
  animation: run 0.16s linear infinite;
}


.neon-lightirishjay{
  width: 10%;
  height: 20px;
  background: transparent;
  border-radius: 15px;
  position: absolute;
  top: 95%;
  left: 0;
  box-shadow: 
    0 0 20px rgb(71, 24, 24),
    0 0 40px rgb(71, 24, 24),
    0 0 80px rgb(71, 24, 24),
    inset 0 0 10px  rgb(71, 24, 24);
  animation: run 0.5s linear infinite;
}


.neon-line-container {
  position: absolute;
  left: 0;
  width: 100%; /* container width for animation */
}



.tooltip {
  position: absolute;
  top: 0px;      
  left: 0;        
  font-size: 12px;
  color: #fff;
  background: rgba(0,0,0,0.7);
  padding: 4px 8px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.2s;
}

.neon-line-container:hover .tooltip {
  opacity: 1;
}

/* Neon animation */
@keyframes run {
  0% { left: 0%; opacity: 0.5; }
  50% { left: 50%; opacity: 1; }
  100% { left: 100%; opacity: 0.5; }
}













